* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  font-family: "Inter", serif !important;
  font-size: 62.5% !important;
  box-sizing: border-box;
  height: 100%;
}

#root{
  height: 100%;
}
